In [1]:
## housekeeping
import pandas as pd

In [2]:
## first things
input_file, output_file = 'input_file.csv', 'output_file.csv' # define filenames
df = pd.read_csv(input_file) # read csv in
df # show

   category  subcategory     name
0       cat      burmese  charles
1  dinosaur  stegosaurus     sara
2      bird        egret   gerald
3  particle       photon     isla

In [3]:
## TODO  - write logic to output your column to add (a list of the same length as the data) ##
## placeholder ...

weight = [] # initialize column to add

for item in df.iterrows(): # iterate thru each line in csv
    condition = item[1]['subcategory']
    if condition == 'burmese':
        weight.append(9)
    elif condition == 'stegosaurus':
        weight.append(11000)
    elif condition == 'egret':
        weight.append(4)
    elif condition == 'photon':
        weight.append(None)
        
df['weight'] = weight ## add column (list) to the data
df # show

   category  subcategory     name   weight
0       cat      burmese  charles      9.0
1  dinosaur  stegosaurus     sara  11000.0
2      bird        egret   gerald      4.0
3  particle       photon     isla      NaN

In [4]:
## write to new csv with column included
df.to_csv(output_file, index=False)